/* 
	The Central Perk Mobile Styles Sheet
    Filename: mobile.css
    
    Author: Erin Ryan & Nick Riley  
    Date: 7-24-2020
 */
 /* Menu Mobile */
.choices-list {
    float: none;
    text-align: center;
}
.bake,
 .deli,
 .coffee {
    float: none;
    text-align: center;
 }
 .fav-img {
    float: none;
 }


/* Contact mobile */
 #contact .form {
    float: none;
    width: auto;
 }
 #contact .res-info {
    float: none ;
    width: auto;
    padding: 0 30px;
 }